* {
    margin: 0;
    padding: 0;
    //background: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 20px;
    box-sizing: border-box;
}

/* ================================================================= */


/* ================================================================= */




header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    ;
    width: 100%;
    height: 10vh;
    //position: fixed;
    background-color: #fff;


    img {
        padding: 1vh;
        display: flex;

        width: auto;
        height: auto;
        height: 8vh;
    }

}

#navbar {
    width: 100%;
    height: 10vh;
    background-color: #fff;
    position: fixed;
}

body {

    height: 100vh;
    width: 100vw;

    //display: flex;
    h1 {
        text-align: left;
        font-style: normal;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 51px;
        text-align: center;
    }

}

.login {
    //align-items: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20%;
    //padding-bottom: 10%;
    padding-left: 50%;
    padding-right: 50%;
}


.filtros {
    margin-top: 5vw;

    display: flex;
    width: 100vw;
    justify-content: space-between;

    //margin: 5px;
    //padding-left: 5px;
    //padding-right: 5px;
    select {
        width: 90%;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 8px;
        margin-right: 6px;
    }

    option {
        font-size: 14px;
        width: 90%;
    }

    select[name='cidade'] {
        width: 60%;
    }
}

.principal {

    margin: 20px 0;

    .container-principal {
        //margin-top: 10vw;
        //overflow: visible;
        //overflow-x: scroll;
        //scroll-behavior: smooth;
        display: flex;
        align-items: center;
        position: relative;



        .container-carrossel {


            //display: flex;
            //flex-direction: row;
            //align-items: center;
            //justify-content: center;
            //margin-right: 0;
            //padding-right: 0;
            width: 100vw;
            overflow: hidden;
            scroll-behavior: smooth;


            .carrossel {
                display: flex;
                flex-wrap: nowrap;
                margin: 20px 0;
            }


            .parceiro {

                scroll-behavior: smooth;
                margin-left: 30vw;
                margin-right: 30vw;
                padding-left: calc(100vw - 100%);
                padding-right: calc(100vw - 100%);

                //margin-right: 10%;
                //margin: auto;
                display: block;
                width: 100vw;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 0%;

                margin-right: 0%;
                padding-left: 0%;

                padding-right: 0%;
                //margin-left:auto;
                //margin-right:auto;

                margin-top: 5vw;
                margin-bottom: 10vw;
                //flex-direction: column;

                .foto {
                    padding-left: calc(100vw - 65%);

                    margin-top: 5vw;
                    align-items: center;
                    justify-content: center;

                    //background-image: url("../img/sem_rosto.svg");
                    background-size: cover;
                    //background-size: 100% 100%;
                    //background-color: #000;
                    //background-repeat: no-repeat;
                    width: 40vw;
                    max-height: 25vh;
                    //width: auto;
                    //height: auto;
                    //margin-bottom: 10px;
                    cursor: pointer;
                    transition: 0.3s;
                }

                .nome {
                    margin-top: 1vw;
                    width: 100vw;
                    //height: 10vh;
                    text-align: center;

                }

                .valor {
                    padding-top: 3vw;
                    text-align: center;
                }

                .link {
                    a {
                        color: #FFF;
                        //width: 30vw;
                        background-color: #78BE20;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        padding: 3vw 5vw;
                        
                        border-radius: 8px;

                    }

                    //display: block;
                    margin-top: 5vw;
                    text-decoration: none;

                    border-radius: 8px;
                    padding: 8px 20px;

                    font-size: 14px;
                    line-height: 17px;
                    width: 100vw;
                    background-color: rgba(120, 190, 32, 0);
                    /*.link-cor {
                        background-color: #78BE20;
                        width: 30vw;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                    }*/

                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    //margin-left: calc(100vw - 64%);

                }

            }


        }

        .esquerda,
        .direita {
            /*padding-left: 5vw;
        padding-bottom: 25vw;*/
            //display: block;
            cursor: pointer;
            transition: 0.1s;
            position: absolute;
            border: none;
            height: 50%;

            top:13%;
            z-index: 500;

        }

        .esquerda {
            left: 0%;
        }

        .direita {
            right: 0;
        }



        button {
            background-color: rgba(255, 255, 255, 0);
            //background-color: #000;
        }
    }

    h1 {
        padding-left: 10px;
        text-align: left;
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 33px;

        color: #6BA539;

    }
}

.fields {
    margin-top: 6.5%;
    padding-left: 5%;

    label {

        //padding-top: 5%;
        font-size: 20px;
        padding-bottom: 4px;
        margin-top: 6.5%;
        //margin-top: 20px;
    }

    label[name="file"] {
        //padding-top: 1px;
        padding: 0px 5px 0px 5px;
        background: #D9D9D9;
        border: 1px solid #000000;
        border-radius: 2px;

    }

    input,
    select {
        background-color: #D9D9D9;
        display: flex;
        border-radius: 8px;
        width: 93%;
        width: 100%;

        height: 33px;
        //opacity: 0.97;
        //outline: none;
        border: 0 none;
    }

    .img {
        background-image: url("../img/sem_rosto.svg");
        background-size: cover;
        //background-size: 100% 100%;
        //background-color: #000;
        //background-repeat: no-repeat;
        width: 178px;
        height: 250px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: 0.3s;

        //width: 100vw;
        //height: 100vh;
        //margin-bottom: 10vh;
        //background-color: #000;
        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: 0.3s;
        }

        label[name='file'] {
            cursor: pointer;
            transition: 0.3s;
        }
    }
}


input[type="file"] {
    display: none;
}

#login {
    padding-top: 20px;
    //margin: 10%;
    //padding-left: 5%;

    .fields {
        margin-top: 6.5%;
        padding-left: 5%;


        label {

            padding-top: 5%;
            font-size: 20px;
            padding-bottom: 4px;
            margin-top: 6.5%;
            //margin-top: 20px;
        }



    }

    label {
        padding-top: 5%;
        font-size: 20px;
        padding-bottom: 4px;
        //margin-top: 6.5%;
        margin-top: 10px;
    }

    input,
    select {

        background-color: #D9D9D9;
        display: flex;
        border-radius: 8px;
        width: 93%;
        height: 33px;
        opacity: 0.97;
        //outline: none;
        border: 0 none;


    }


    a {
        padding-left: 5%;
        color: #398190
    }
}

a {
    font-size: 14px;
}



.cadastro {
    justify-content: center;
    display: flex;
    width: 100%;

    a {
        //display: block;

        margin-top: 30%;
        color: #000;
        font-size: 16px;

    }
}

.buttons {
    padding-top: 3.5vw;
    display: grid;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;

    button {
        //display: flex;
        //margin: 10px;
        display: block;
        background-color: #6CC24A;
        font-size: 21px;
        border-radius: 8px;
        height: 43px;
        width: 78vw;
        color: #fff;
        font-style: normal;
        border: 0 none;
        //align-content: center;


    }
}

main {
    width: 100vw;
    height: 100vh;

}


.container {
    width: 100vw;

    .apresentacao {

        height: 55vw;
        background-color: #6CC24A;
        color: #fff;
        display: flex;
        font: size 19px;
        align-items: center;

        h1 {
            text-align: left;
            font-size: 19px;

            margin-left: 10px;
            font-weight: 400;
            line-height: 23px;
        }

        img {
            max-width: 100vw;
            width: auto;
            height: 100%;

        }
    }
}



button {
    //display: flex;
    //margin: 10px;
    //display: block;
    background-color: #6CC24A;
    font-size: 21px;
    border-radius: 8px;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 1px;
    //height: 43px;
    //width: 78vw;
    color: #fff;
    width: 70px;
    font-style: normal;
    border: 0 none;
    cursor: pointer;

    //align-content: center;
    :hover {
        background-color: #6BA539;
        ;
    }


}

#entrar {
    padding-top: 7.5vw;
    justify-content: center;
    //display: flex;

    display: grid;
    justify-content: center;
    //align-items: center;
    //row-gap: 50px;
    width: 100%;

    .error {
        padding-bottom: 7.5vw;
        display: flex;
        //align-items: center;
        justify-content: center;
        color: #C22727;

    }

    button {
        //display: flex;
        //margin: 10px;
        display: block;
        background-color: #6CC24A;
        font-size: 21px;
        border-radius: 8px;
        height: 43px;
        width: 78vw;
        color: #fff;
        font-style: normal;
        border: 0 none;
        //align-content: center;


    }


}





#loginbutton:hover {

    background-color: #6BA539;
    //display: block;

}



input:focus {
    background-color: #FFF;
    border: 1px solid #000;

}

@media only screen and (orientation: landscape) and (min-width:800px) {


    header {
        display: flex;
        align-items: center;

        img {
            //padding: 1vh;
            //display: flex;

            width: auto;
            //height: auto;
            height: 8vh;
        }

    }


    form {
        //display: inline-block;
        width: 71vw;
        margin: 0 auto;
        padding: auto;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: row;
        margin: 10px;
        justify-content: space-between;
        align-items: center;



    }

    div {
        //display: flex;


        label {
            justify-content: space-between;
        }
    }

    button .buttons {
        width: 55vw;
        margin: auto;
        padding: auto;

        button {
            //display: flex;
            //margin: 10px;

            width: 55vw;
            color: #fff;

        }
    }

    form .buttons {
        align-items: center;
    }


    div.fields {
        margin-top: 10px;
        max-width: 100vw;
        width: 100%;
        display: block;
        //grid-template-columns: auto auto auto auto;
        //flex-direction: column;
        flex-direction: row;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        flex-wrap: nowrap;
        //margin-top: 0;

        label {
            //display: inline-block;
            //margin-left: auto;
            //margin-right: auto;
            //padding-left: 3.5vw;
            //margin-bottom: 3px;
        }

        input,
        select {
            color: #515151;
            //margin-left: 4vw;
            //padding-right: 4%;
            max-width: 100vw;
            min-width: 90%;
            width: 100%;
            //flex: 1;
            //margin-left: auto;
            //margin-right: auto;
            justify-content: center;
            align-items: center;
            //display: block;
            //width: 48vw;
            height: 45px;
            //display: grid;
        }

        input[name='cpf'],
        input[name='numero'],
        input[name='complemento'],
        input[name='cidade'],
        input[name='celular'],
        input[name='telefone'] {
            width: 90%;
            margin: 0;
        }


        .container:not:last-child {
            width: 90%;
            margin: 0;
        }

        input[name='cep'],
        label[for='cep'],
        label[for='valor_atendimento_1'],
        input[name="valor_atendimento_1"],
        label[for='valor_atendimento_2'],
        input[name="valor_atendimento_2"] {
            margin-left: 10%;
            width: 90%;
        }
    }

    .apresentacao {
        justify-content: space-between;
        //padding: 10vw;

        padding-bottom: 0;

        h1 {

            //font-family: 'Verdana';
            font-style: normal;
            font-weight: 400;
            font-size: 63px;
            line-height: 77px;
        }


        p {
            padding: 1vw;
            font-size: 63px;
        }

        img {
            margin: 30px;
        }


    }



    .login {
        margin-top: 3%;
        //margin-bottom:7%;
        padding: 0;
    }

    #login {
        width: 50%;
        //align-items: center;
        //display: flex;
        //justify-content: center;
        margin-left: auto;
        margin-right: auto;

        .fields {

            //    display: flex;
            align-content: center;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;

            label {
                //display: flex;
                //margin-left: auto;
                //margin-right: auto;
                padding-left: 1vw;
                //margin-bottom: 3px;
            }
        }

        a {
            padding-left: 1vw;
        }

        input,
        select {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-items: center;
            //display: block;
            width: 48vw;
            height: 45px;
        }



        #entrar,
        .buttons {
            div {
                padding-bottom: 3vw;
            }

            display: grid;
            padding-top: 6vw;

            //row-gap: 50px;
            button {
                width: 48vw;


            }
        }
    }

    .cadastro {
        a {
            margin-top: 6vw;
            align-items: center;
        }
    }



}